# Copyright 2023 Google LLC
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file or at
# https://developers.google.com/open-source/licenses/bsd

# The following file specifies the Bazel configuration. Currently, Vanir is
# only tested with Bazel >= 6.0.0. For Bazel >= 7.2.0, Vanir runs
# without any changes in this file. For earlier versions, following
# configuration changes are needed.

# In order to run on Bazel <= 7.1.0, following line needs to be
# commented as bzlmod build does not work on Bazel 7.1 and earlier.

common --enable_workspace=False

# Additionally, for Bazel 7.1.0 and 7.0.0, following line needs
# to be uncommented.

# common --enable_bzlmod=False

build --cxxopt=-std=c++17 --cxxopt=-fexceptions --cxxopt=-Wno-nonnull --cxxopt=-Wno-sign-compare --cxxopt=-Wno-parentheses --cxxopt=-Wno-deprecated-declarations

# Following config settings are added to build Vanir with different Python
# versions. These settings are only supported on Bzlmod setup(not supported on
# WORKSPACE setup) and are used for building pybind extension modules in Vanir
# PiP packaging.
build:py3.9 --@rules_python//python/config_settings:python_version=3.9
build:py3.10 --@rules_python//python/config_settings:python_version=3.10
build:py3.11 --@rules_python//python/config_settings:python_version=3.11
build:py3.12 --@rules_python//python/config_settings:python_version=3.12
build:py3.13 --@rules_python//python/config_settings:python_version=3.13
