# Copyright 2023 Google LLC
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file or at
# https://developers.google.com/open-source/licenses/bsd

# Default Bazel configuration for Vanir.
# Tested with Bazel >= 7.0.0.
# Vanir runs without any special config on Bazel >= 8.0.0.
# For Bazel 7, however, use the --config flag to apply specific settings:
#
# Bazel 7.2.0 to latest 7.x: bazel <command> --config=bazel7.2-latest
# Bazel 7.0.0 to 7.1.0: bazel <command> --config=bazel7.0-7.1

# Configuration for Bazel versions 7.2.0 to the latest 7.x version
common:bazel7.2-latest --noenable_workspace

# Configuration for Bazel versions 7.0.0 and 7.1.0
common:bazel7.0-7.1 --noenable_bzlmod

build --cxxopt=-std=c++17 --cxxopt=-fexceptions --cxxopt=-Wno-nonnull --cxxopt=-Wno-sign-compare --cxxopt=-Wno-parentheses --cxxopt=-Wno-deprecated-declarations

# Following config settings are added to build and test Vanir with different
# Python versions. These settings are only supported on Bzlmod setup(not
# supported on WORKSPACE setup).
build:py3.10 --@rules_python//python/config_settings:python_version=3.10
build:py3.11 --@rules_python//python/config_settings:python_version=3.11
build:py3.12 --@rules_python//python/config_settings:python_version=3.12
build:py3.13 --@rules_python//python/config_settings:python_version=3.13

# Fix namespace package conflicts for google.* packages when using Bazel python
# rules.

build --incompatible_default_to_explicit_init_py
